<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Project">
            <directory>tests/notymo</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src/notymo</directory>
        </whitelist>
    </filter>
</phpunit>